/*
 Theme Name:  Printing Services Child
 Theme URI:   https://graphexpress.com.ar/
 Description: Child theme para Printing Services (Web-to-Print Graph Express).
 Author:      Graph Express
 Author URI:  https://graphexpress.com.ar/
 Template:    printing-services
 Version:     0.1.0
*/

/* Estilos personalizados del child theme.
   De momento lo dejamos vacío. Más adelante Codex y nosotros iremos agregando. */
